@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');


body {
  background-color: lavender;
}

p {
  font-weight: 900;
  text-shadow: red 1px 0 10px;
  font-family: 'Lacquer', sans-serif;
  line-height: 2;
}

h1 {
  color: cyan;
  background-color: black;
  text-align: center;
  font-size: 100px;
}


th {
  text-align: left
}

.addy {
margin-top: 0;
}

td:hover {
  background-color: violet;
}

.bury {
  color: maroon;
  background-color: gray;
}

.the-u {
  color: orange;
  background-color: green;
}

.andro {
  color: orange;
  background-color: black;
}

.glass2grass {
  color: lime;
  background-color: black;
}

.insta {
  text-decoration: line-through;
}
