@media only screen and (max-width:767px){
  /* what goes here */
  /* put in here the css for things that need to change at this size */
  body {
    background-color:  #99cc99;
  }

.grid-container-1 {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 100px);
  grid-column-gap: 0px;
  grid-row-gap: 15px;
}



}
